<table frame="box" rules="cols" class="table">
    <thead>
        <tr>
            <th style="padding-left: 1em; padding-right: 1em; text-align: center">Game Name</th>
            <th style="padding-left: 1em; padding-right: 1em; text-align: center">Cracking Group</th>
            <th style="padding-left: 1em; padding-right: 1em; text-align: center">Score(%)</th>
            <th style="padding-left: 1em; padding-right: 1em; text-align: center">Reviews</th>
            <th style="padding-left: 1em; padding-right: 1em; text-align: center">NFO Link</th>
            <th style="padding-left: 1em; padding-right: 1em; text-align: center">Date Cracked</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Welcome to Kowloon</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">79</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">75</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900766/Welcome-to-Kowloon-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Verses of Enchantment</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900765/Verses-of-Enchantment-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">The haunted hospice</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2901567/The-haunted-hospice-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">The Friends We Left Behind</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">5</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2901566/The-Friends-We-Left-Behind-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Rise of the Triad: Ludicrous Edition</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">8</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">98</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">170</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2901244/Rise-of-the-Triad-Ludicrous-Edition-rG.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Only One</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">33</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900764/Only-One-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Only Ban\!</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900762/Only-Ban-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Oceanhorn 2: Knights of the Lost Realm</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">88</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">25</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2901232/Oceanhorn-2-Knights-of-the-Lost-Realm-RUNE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Interstellar Sentinel</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2901563/Interstellar-Sentinel-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Firebird</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">9</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2901564/Firebird-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Baldur&#x27;s Gate 3</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">91</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">79800</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2901952/Baldurs-Gate-3-RUNE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Adore</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">7</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">90</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">339</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2901968/Adore-RUNE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-03</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Yakuza: Like a Dragon</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">6</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">96</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">22000</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2899894/Yakuza-Like-A-Dragon-BiGMAC.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-01</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Venba</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">96</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">164</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900221/Venba-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-01</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">The Radiants</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">88</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">8</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900220/The-Radiants-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-01</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">So Much Stuff 3: Odds &amp; Ends</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2899909/So-Much-Stuff-3-Odds-And-Ends-bADkARMA.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-01</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Shaytan</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">0</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900222/Shaytan-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-01</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Paranormal Mission</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">92</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">12</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900219/Paranormal-Mission-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-01</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Mannequin The Spotting</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">5</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2900218/Mannequin-The-Spotting-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-01</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">I Love Finding Cats &amp; Pups</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2899943/I-Love-Finding-Cats-And-Pups-bADkARMA.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-08-01</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Warhammer 40,000: Boltgun (MULTi14)</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">92</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">92</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">MULTi14</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Unswappers</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://predb.de/rls/Unswappers-TENOKE</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Tuna The Cat</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://predb.de/rls/Tuna.The.Cat-TENOKE</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">The Shell Part I: Inferno</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">94</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">151</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898936/The-Shell-Part-I-Inferno-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">The Master&#x27;s Pupil</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">26</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898937/The-Masters-Pupil-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Rabat Protocol:Metal Rhapsody</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">97</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">58</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898278/Rabat-Protocol-Metal-Rhapsody-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">RUSA Odyssey</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898390/RUSA-Odyssey-bADkARMA.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Only Down</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">83</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">36</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898938/Only-Down-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Octavio Camacho</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">-1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://predb.de/rls/Octavio.Camacho-TENOKE</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Mimic</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">3</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">17</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">6</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898992/Mimic-bADkARMA.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Mega City Police</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">86</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">107</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898920/Mega-City-Police-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">MAKABAKA</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">95</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">40</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898277/MAKABAKA-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Komorebi</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">98</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">42</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898935/Komorebi-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Koa and the Five Pirates of Mara</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">97</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">74</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898276/Koa-and-the-Five-Pirates-of-Mara-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Forest Frenzy</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">1</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898389/Forest-Frenzy-DARKSiDERS.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Demonic Supremacy</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">4</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://predb.de/rls/Demonic.Supremacy-TENOKE</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">CONCLUSE 2 \- The Drifting Prefecture</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">83</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">6</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://predb.de/rls/CONCLUSE.2.The.Drifting.Prefecture-TENOKE</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">Arcadian Atlas</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">56</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">66</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898275/Arcadian-Atlas-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
        <tr>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">13:ORIGIN \- Chapter One</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">100</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">8</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">https://www.xrel.to/game-nfo/2898934/13-ORIGIN-Chapter-One-TENOKE.html</td>
            <td style="padding-left: 1em; padding-right: 1em; text-align: center; vertical-align: top">2023-07-31</td>
        </tr>
    </tbody>
</table>